{% extends "base.html" %}

{% block title %}Delete Expense | Expense Manager{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <h3 class="card-title mb-4 text-center text-danger">
                    Confirm Delete
                </h3>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible fade show rounded-3 
                            {% if message.tags == 'error' %}bg-danger
                            {% elif message.tags == 'success' %}bg-success
                            {% else %}bg-primary{% endif %} text-white" 
                            role="alert">
                            {{ message }}
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center">
                        <thead class="table-dark">
                            <tr>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                    <td>{{ expense.date|date:"M d, Y" }}</td>
                                    <td>{{ expense.title|default:"-" }}</td>
                                    <td>{{ expense.category.name }}</td>
                                    <td>৳{{ expense.amount|floatformat:2 }}</td>
                                    <td>
                                    <form method="POST" class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            Delete
                                        </button>
                                    </form>
                                    <a href="{% url 'expense_list' %}" 
                                       class="btn btn-secondary btn-sm">
                                       Cancel
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}